@import "./variables";

.about__container {
  background-color: #121212;
  position: relative;
  width: 100%;
  min-height: 100vh;

  .about__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
  }

  .textColumn {
    flex: 1;
    text-align: left;

    h3,
    p {
      font-family: $Montserrat;
    }

    h3 {
      color: #fff;
      font-size: 2.75rem;
      margin: 0;
      font-weight: 700;
      margin-bottom: 7.5rem;
    }

    p {
      margin-bottom: 3rem;
      color: #c2c2c2;
      font-size: 1.35rem;
      font-weight: 500;

      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about__container {
    min-height: 170vh;
    .about__wrapper {
      width: 95%;
      top: 50%;
      position: absolute;
      flex-direction: column;

      h3 {
        text-align: center;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.98px) {
  .about__container {
    min-height: 160vh;

    .about__wrapper {
      flex-direction: column;
      width: 95%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .about__container {
    min-height: 120vh;
    .about__wrapper {
      top: 35%;
      flex-direction: column;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .about__container {
    .about__wrapper {
      flex-direction: column;

      .textColumn {
        h3 {
          font-size: 3.25rem;
        }

        p {
          font-size: 1.85rem;
        }
      }
    }
  }
}
