@import "./variables";

.about__container {
  background-color: #121212;
  position: relative;
  width: 100%;
  min-height: 100vh;

  .about__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
  }

  .textColumn {
    flex: 1;
    text-align: left;

    h3,
    p {
      font-family: $Montserrat;
    }

    h3 {
      color: #fff;
      font-size: 2.75rem;
      margin: 0;
      font-weight: 700;
      margin-bottom: 7.5rem;
    }

    p {
      margin-bottom: 3rem;
      color: #c2c2c2;
      font-size: 1.35rem;
      font-weight: 500;

      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }

  .animationColumn {
    margin-top: -350px;
    margin-left: 5rem;
    flex: 1;
    position: relative;

    &:hover {
      .cardContainer {
        transform: rotateY(10deg) scale3d(1, 1, 1);
        transition: all 0.45s ease-out;
      }

      .offerPreview__card {
        transform: rotateY(10deg) translate(-50%, -40%) scale3d(1, 1, 1);
        transition: all 0.45s ease-out;
      }

      .commentsContainer {
        transform: rotateY(10deg) translate(-50%, -45%) scale3d(1, 1, 1);
        transition: all 0.45s ease-out;

        .commentWrapper {
          &:first-of-type {
            transform: translateY(15px);
          }
          &:nth-of-type(2) {
            transform: translateY(30px);
          }
          &:last-of-type {
            transform: translateY(45px);
          }
          transition: all 0.4s ease-in-out;
        }
      }
    }

    .cardContainer {
      z-index: 1;
      transform-style: preserve-3d;
      transform: scale3d(1, 1, 1);
      position: relative;

      .card__author {
        z-index: 2;
        position: absolute;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border-radius: 50%;
        border: 0.5rem solid #121212;
        left: 0;
        top: 12.5%;
        transform: translate(-50%, -50%);

        img {
          width: 75px;
          height: 75px;
          object-fit: contain;
        }
      }

      .card {
        font-family: $Montserrat;
        box-sizing: border-box;
        padding: 3rem 5rem 7rem 5rem;
        background-color: #333;
        border-radius: 24px;

        p {
          color: #fff;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0;
          margin-bottom: 1.25rem;
          span {
            font-weight: 700;
          }
        }

        .card__rating {
          display: flex;
          flex-direction: row;

          span:not(.doubleCheckedSpan) {
            color: #fff;
            border: 2px solid #4f4f4f;
            box-sizing: border-box;
            font-weight: 600;
            padding: 4px 16px;
            margin-right: 12px;
            font-size: 0.9rem;
            border-radius: 24px;
          }

          .doubleCheck__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 2px solid #4f4f4f;
            box-sizing: border-box;
            padding: 4px 12px;
            margin-right: 12px;
            border-radius: 24px;
            font-size: 0.9rem;
            width: fit-content;

            span.doubleCheckedSpan {
              color: #fff;
              padding: 0;
              margin: 0;
              border: none;
              font-weight: 600;
            }

            .doubleCheck {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-right: 0.35rem;

              svg {
                color: #fff;

                &:last-of-type {
                  margin-left: -3px;
                }
              }
            }
          }
        }
      }
    }

    .offerPreview__card {
      transform-style: preserve-3d;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      top: 110%;
      width: 100%;
      left: 60%;
      position: absolute;
      box-sizing: border-box;
      border-radius: 24px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(242, 148, 165, 1) 66%,
        rgba(250, 88, 118, 1) 100%
      );
      padding: 3rem 5rem 3rem 5rem;
      box-shadow: -2px -2px 6px #232323;

      .previewCard__content {
        p {
          font-family: $Montserrat;
          font-weight: 700;
          color: #222;
          font-size: 1.45rem;
          margin: 0;
        }

        .requestBy {
          margin-bottom: 0.65rem;
        }

        .reviewCard__rowWrapper {
          margin-bottom: 0.65rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:first-of-type {
            .blurredContent {
              width: 175px;
            }
          }

          &:nth-of-type(2) {
            .blurredContent:first-of-type {
              width: 115px;
            }
          }

          &:last-of-type {
            .blurredContent:last-of-type {
              width: 120px;
            }
          }

          .blurredContent {
            margin-left: 0.75rem;
            width: 85px;
            height: 1.3rem;
            border-radius: 4px;
            background-color: #3f3f3f;
            opacity: 0.9;
            filter: blur(0.5px);
          }
        }
      }
    }

    .commentsContainer {
      position: absolute;
      left: 70%;
      top: 200%;
      transform-style: preserve-3d;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      display: flex;
      flex-direction: column;
      width: 100%;

      .commentWrapper {
        box-shadow: -15px -15px 15px -15px #333;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.75rem;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 1rem 1.2rem;

        &:nth-of-type(2) {
          width: 80%;
        }

        &:last-of-type {
          width: 60%;
        }

        svg {
          color: #d7d7d7;
          width: 1.25rem !important;
          height: 1.25rem !important;
        }

        .emptyContentSpaceWrapper {
          background-color: #fff;
          box-sizing: border-box;
          padding: 0.3rem 0.6rem;
          display: flex;
          flex-direction: row;
          flex: 1;
          align-items: center;
          border-radius: 12px;

          .fillerEmptySpace {
            flex: 1;
            background-color: #d9d9d9;
            height: 1.65rem;
            margin-right: 0.5rem;
            border-radius: 4px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about__container {
    min-height: 120vh;
    .about__wrapper {
      width: 95%;
      top: 50%;
      position: absolute;
      flex-direction: column;

      h3 {
        text-align: center;
      }

      .animationColumn {
        margin: 0;
        display: none;

        .cardContainer {
          .card__author {
            width: 60px;
            height: 60px;

            img {
              width: 50px;
              height: 50px;
            }
          }

          .card {
            padding: 2rem 2.5rem 3rem 2rem;
          }

          .offerPreview__card {
            top: 120%;
            padding: 0.75rem 1rem;

            .previewCard__content {
              p {
                font-size: 1.1rem;
              }

              .reviewCard__rowWrapper {
                margin-top: -4px;
                &:first-of-type {
                  .blurredContent {
                    width: 100px;
                  }
                }

                &:nth-of-type(2) {
                  p {
                    width: 50%;
                  }
                  .blurredContent:first-of-type {
                    width: 65px;
                  }
                }

                &:last-of-type {
                  .blurredContent {
                    width: 80px;
                  }
                }

                .blurredContent {
                  width: 75%;
                  height: 1.15rem;
                  margin-left: 0.55rem;
                }
              }
            }
          }

          .commentsContainer {
            top: 185%;
            left: 75%;

            .commentWrapper {
              padding: 0.25rem 0.3rem;
              border-radius: 0.75vh;
              margin-bottom: 0.5rem;

              svg {
                width: 0.75rem !important;
                height: 0.75rem !important;
              }

              .emptyContentSpaceWrapper {
                padding: 0.1rem 0.2rem;

                .fillerEmptySpace {
                  height: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.98px) {
  .about__container {
    min-height: 160vh;

    .about__wrapper {
      flex-direction: column;
      width: 95%;

      .animationColumn {
        margin-left: -2.5%;
        margin-top: 10vh;

        .cardContainer {
          .card__author {
            width: 85px;
            height: 85px;

            img {
              width: 60px;
              height: 60px;
            }
          }

          .card {
            padding: 3rem 4rem 4rem 4rem;
          }

          .offerPreview__card {
            top: 120%;
            padding: 1rem 2.25rem 2rem 2.25rem;

            .previewCard__content {
              p {
                font-size: 1.1rem;
              }

              .reviewCard__rowWrapper {
                &:first-of-type {
                  .blurredContent {
                    width: 125px;
                  }
                }

                &:nth-of-type(2) {
                  .blurredContent:first-of-type {
                    width: 85px;
                  }
                }

                &:last-of-type {
                  .blurredContent:last-of-type {
                    width: 120px;
                  }
                }
              }
            }
          }

          .commentsContainer {
            top: 210%;
            left: 72.5%;

            .commentWrapper {
              padding: 0.5rem 0.65rem;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .about__container {
    min-height: 120vh;
    .about__wrapper {
      top: 35%;
      flex-direction: column;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .about__container {
    .about__wrapper {
      flex-direction: column;

      .textColumn {
        h3 {
          font-size: 3.25rem;
        }

        p {
          font-size: 1.85rem;
        }
      }

      .animationColumn {
        .cardContainer {
          .card__author {
            width: 125px;
            height: 125px;

            img {
              width: 85px;
              height: 85px;
            }
          }

          .card {
            padding: 4rem 5rem 6rem 5rem;

            p {
              font-size: 2rem;
            }

            .card__rating {
              span:not(.doubleCheckedSpan) {
                font-size: 1.4rem;
              }

              .doubleCheck__container {
                font-size: 1.4rem;
              }
            }
          }

          .offerPreview__card {
            padding: 2rem 3rem;

            .previewCard__content {
              p {
                font-size: 2rem;
              }

              .reviewCard__rowWrapper {
                &:first-of-type {
                  .blurredContent {
                    width: 145px;
                  }
                }

                &:nth-of-type(2) {
                  .blurredContent:first-of-type {
                    width: 115px;
                  }
                }

                &:last-of-type {
                  .blurredContent:last-of-type {
                    width: 150px;
                  }
                }

                .blurredContent {
                  height: 1.65rem;
                  border-radius: 6px;
                  opacity: 0.85;
                  margin-left: 0.85rem;
                }
              }
            }
          }
          .commentsContainer {
            top: 205%;

            .commentWrapper {
              padding: 0.65rem 0.8rem;

              .emptyContentSpaceWrapper {
                .fillerEmptySpace {
                  height: 1.9rem;
                  border-radius: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
