@import "./variables";

.footer__wrapper {
  width: 100%;
  background-color: #121212;

  .footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $Montserrat;
    border-top: 1px solid #666;

    .footer__leftCol {
      width: 45%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .brand__wrapper {
        flex: 5;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: contain;
          margin-right: 0.5rem;
        }

        span {
          text-align: left;
          font-weight: 700;
          font-size: 1.65rem;
          color: #f8f8f8;
          text-shadow: 1.25px 1.25px #fa5876;

          &:hover {
            color: #f8f8f8;
            text-shadow: 1.25px 1.25px #fa5876;
            cursor: text;
          }
        }
      }

      span {
        text-align: center;
        flex: 4;
        font-weight: 600;
        font-size: 0.9rem;
        color: #666;

        &:hover {
          cursor: pointer;
          color: #999;
        }
      }
    }

    .footer__rightCol {
      span {
        font-weight: 600;
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer__wrapper {
    .footer {
      padding: 0.75rem 0.5rem;
      .footer__leftCol {
        width: 100%;
        .brand__wrapper {
          span {
            display: inline;
          }
        }
        span {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer__wrapper {
    .footer {
      padding: 0.75rem 0.5rem;
      .footer__leftCol {
        width: 100%;
        .brand__wrapper {
          span {
            display: inline;
          }
        }
        span {
          display: none;
        }
      }
    }
  }
}
