@import "./variables";

.hero__container {
  background-color: #121212;
  width: 100%;
  position: relative;
  min-height: 100vh;

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    33% {
      transform: translatey(-12px) translateX(4px);
    }
    66% {
      transform: translatey(-12px) translateX(-4px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes floatMain {
    0% {
      transform: translatey(0px);
    }
    33% {
      transform: translatey(-12px) translateX(-4px);
    }
    66% {
      transform: translatey(-12px) translateX(4px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float2 {
    0% {
      transform: translatey(0px);
    }
    33% {
      transform: translatey(2px) translateX(2px);
    }
    66% {
      transform: translatey(-10px) translateX(-6px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float3 {
    0% {
      transform: translatey(0px);
    }
    33% {
      transform: translatey(2px) translateX(3px);
    }
    66% {
      transform: translatey(-6px) translateX(-3px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes counterfloat {
    0% {
      transform: translatey(0px);
    }
    33% {
      transform: translatey(-3px) translateX(2px);
    }
    66% {
      transform: translatey(3px) translateX(-2px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes animationgradienttitle {
    0% {
      background-position: 0 1600px;
    }
    100% {
      background-position: 1600px 0;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  div {
    overflow: hidden;
    height: fit-content;
    img {
      width: 15vh;
      height: auto;
      border-radius: 0.35vw;
    }
  }

  .intro__header {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    overflow: unset;
    height: 30vh;
    z-index: 100;
    font-size: 2.65rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;

    h3 {
      align-self: flex-end;
      font-family: $Montserrat;
      color: #fff;

      span {
        margin-left: 1.65rem;
        display: block;
        background: -webkit-linear-gradient(
          left,
          #f03f4f,
          #f94c8d,
          #fa5876,
          #f03f4f
        );
        background-size: 1600px 200px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-duration: 3s;
        animation-name: animationgradienttitle;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }

    p {
      text-align: center;
      align-self: center;
      width: 70%;
      font-family: $Montserrat;
      font-size: 1.5rem;
      font-weight: 600;
      color: #9f9f9f;

      span {
        &:first-of-type {
          background: -webkit-linear-gradient(
            left,
            #bcfefe,
            #2d99ae,
            #e350a8,
            #bcfefe
          );
          background-size: 1600px 200px;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation-duration: 3s;
          animation-name: animationgradienttitle;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
        }

        &:last-of-type {
          background: -webkit-linear-gradient(
            left,
            #fee686,
            #ffd273,
            #89b449,
            #fee686
          );
          background-size: 1600px 200px;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          animation-duration: 3s;
          animation-name: animationgradienttitle;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
        }
      }
    }

    a {
      font-family: $Montserrat;
      font-size: 1.25rem;
      font-weight: 700;
      width: fit-content;
      margin: 0 auto;
      background-color: #fa5876;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 8px;
      padding: 0.75rem 2rem;

      &:hover {
        cursor: pointer;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
      }
    }
  }

  /* First Layer:
      1, 2, 3, 10, 11

     Second Layer:
      4, 8, 9, 13

    Third Layer:
  */
  .hero__image__wrapper1 {
    position: absolute;
    left: 10%;
    bottom: 12.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: floatMain 8s ease-in-out infinite;

    img {
      width: 25vh;
    }
  }

  .hero__image__wrapper2 {
    position: absolute;
    left: 25%;
    bottom: 2.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: float 8s ease-in-out infinite;

    img {
      width: 32.5vh;
    }
  }

  .hero__image__wrapper3 {
    animation: float 8s ease-in-out infinite;
    position: absolute;
    right: 20%;
    top: 5%;
    transform: translate(-50%, -50%);
    z-index: 1;

    img {
      width: 26.5vh;
    }
  }

  .hero__image__wrapper4 {
    animation: float 8s ease-in-out infinite;
    position: absolute;
    right: 15%;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: 2;

    img {
      filter: opacity(0.8);
      width: 26.5vh;
    }
  }

  .hero__image__wrapper5 {
    animation: counterfloat 6s ease-in-out infinite;
    position: absolute;
    left: 12.5%;
    top: 7%;
    transform: translate(-50%, -50%);

    img {
      width: 12.5vh;
      filter: opacity(0.65);
    }
  }

  .hero__image__wrapper6 {
    animation: float3 6s ease-in-out infinite;
    position: absolute;
    left: 35%;
    top: 30%;
    transform: translate(-50%, -50%);

    img {
      width: 10vh;
      filter: opacity(0.65);
    }
  }

  .hero__image__wrapper7 {
    animation: floatMain 8s ease-in-out infinite;
    position: absolute;
    right: 5%;
    bottom: 25%;
    transform: translate(-50%, -50%);

    img {
      filter: opacity(0.65);
    }
  }

  .hero__image__wrapper8 {
    animation: float3 6s ease-in-out infinite;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 12.5vh;
      filter: opacity(0.7);
    }
  }

  .hero__image__wrapper9 {
    animation: counterfloat 6s ease-in-out infinite;
    position: absolute;
    right: 32.5%;
    bottom: 20%;
    transform: translate(-50%, -50%);

    img {
      filter: opacity(0.5);
      width: 11.5vh;
    }
  }

  .hero__image__wrapper10 {
    animation: floatMain 8s ease-in-out infinite;
    position: absolute;
    left: 20%;
    top: 9%;
    transform: translate(-50%, -50%);

    img {
      width: 25vh;
    }
  }

  .hero__image__wrapper11 {
    animation: floatMain 8s ease-in-out infinite;
    position: absolute;
    right: 5%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;

    img {
      width: 25vh;
    }
  }

  .hero__image__wrapper12 {
    animation: float3 6s ease-in-out infinite;
    position: absolute;
    right: 20%;
    bottom: 40%;
    transform: translate(-50%, -50%);

    img {
      filter: opacity(0.5);
      width: 8.5vh;
    }
  }

  .hero__image__wrapper13 {
    animation: counterfloat 8s ease-in-out infinite;
    position: absolute;
    right: 40%;
    top: 10%;
    transform: translate(-50%, -50%);

    img {
      filter: opacity(0.7);
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero__container {
    .intro__header {
      top: 40%;
      text-align: center;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        font-size: 2.1rem;
        font-weight: 800;
        opacity: 1;
        margin: 0 auto;
        line-height: 1.1rem;

        span {
          line-height: normal;
          margin: 0;
        }
      }

      p {
        text-align: center;
        color: #fff;
        width: 80%;
        font-weight: 700;
      }
    }

    .hero__image__wrapper1,
    .hero__image__wrapper2,
    .hero__image__wrapper3,
    .hero__image__wrapper10 {
      filter: opacity(0.5);
    }

    .hero__image__wrapper1 {
      left: -15%;
      bottom: 10%;
    }

    .hero__image__wrapper2 {
      bottom: 2.5%;
      left: 75%;
    }

    .hero__image__wrapper3 {
      right: -20%;
      top: 0;
    }

    .hero__image__wrapper4,
    .hero__image__wrapper5,
    .hero__image__wrapper6,
    .hero__image__wrapper7,
    .hero__image__wrapper8 {
      display: none;
    }

    .hero__image__wrapper9,
    .hero__image__wrapper10,
    .hero__image__wrapper11,
    .hero__image__wrapper12,
    .hero__image__wrapper13 {
      filter: opacity(0.35);
    }

    .hero__image__wrapper10 {
      left: -10%;
      z-index: 1;
    }

    .hero__image__wrapper11 {
      right: -15%;
      top: 30%;
    }

    .hero__image__wrapper12 {
    }

    .hero__image__wrapper13 {
      top: 30%;
      z-index: 0;
    }
  }
}
