@import "./variables";

.canvasWrapper {
  height: 70vh;
  width: 35%;
  .canvas {
    pointer-events: none;
    user-select: none;
    scroll-behavior: none;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .canvasWrapper {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
  }
}
