@import "./variables";

.whatMakesUsDifferent__container {
  width: 100%;
  min-height: 200vh;
  position: relative;
  background-color: #121212;

  @keyframes animationgradienttitle {
    0% {
      background-position: 0 1600px;
    }
    100% {
      background-position: 1600px 0;
    }
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-18px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float2 {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-14px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float3 {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-24px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float4 {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(26px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .section__header {
    margin: 0 auto;
    h3,
    p {
      font-family: $Montserrat;
      text-align: center;
      margin: 0;
    }

    h3 {
      font-size: 2.5rem;
      color: #fff;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p {
      margin: 0 auto;
      width: 50%;
      font-size: 1.5rem;
      font-weight: 500;
      color: #9f9f9f;

      span {
        background: -webkit-linear-gradient(
          left,
          #bcfefe,
          #2d99ae,
          #e350a8,
          #bcfefe
        );
        background-size: 1600px 200px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-duration: 5s;
        animation-name: animationgradienttitle;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
  }

  .showcase__content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-top: 20vh;

    .textContent__col {
      text-align: left;
      flex: 1;
      font-family: $Montserrat;

      .companiesOfferings {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.9rem;
        color: #fa5876;
      }

      h4 {
        color: #fff;
        margin: 0;
        font-size: 3rem;
        font-weight: 700;

        &:first-of-type {
          font-weight: 600;
          margin-top: 3rem;
        }
      }

      p {
        margin-top: 3.5rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #d8d8d8;
      }
    }
  }

  .showcase__content__section2 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10vh;
    width: 70%;
    margin-left: 20%;

    .section2__textContent__col {
      text-align: left;
      margin-right: 5%;
      width: 40%;
      font-family: $Montserrat;

      .companiesOfferings {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.9rem;
        color: #bcfefe;
      }

      h4 {
        color: #fff;
        margin: 0;
        font-size: 3rem;
        font-weight: 700;

        &:first-of-type {
          font-weight: 600;
          margin-top: 3rem;
        }
      }

      p {
        margin-top: 3.5rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #d8d8d8;
      }
    }
  }

  .showcase__content__section3 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 15vh;
    width: 70%;
    margin-left: 15%;
    font-family: $Montserrat;

    .section3__textContent__col {
      text-align: left;
      flex: 1;

      .companiesOfferings {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.9rem;
        color: #fee686;
      }

      h4 {
        color: #fff;
        margin: 0;
        font-size: 3rem;
        font-weight: 700;

        &:first-of-type {
          font-weight: 600;
          margin-top: 3rem;
        }
      }

      p {
        margin-top: 3.5rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #d8d8d8;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .whatMakesUsDifferent__container {
    .section__header {
      p {
        width: 95%;
      }
    }

    .showcase__content {
      width: 95%;
      flex-direction: column-reverse;

      .design__col {
        margin-top: 30vh;
        display: none;
      }
    }

    .showcase__content__section2 {
      flex-direction: column;
      width: 95%;
      margin-left: 0;
      margin: 30vh auto 0;

      .section2__textContent__col {
        width: 100%;
      }
    }

    .showcase__content__section3 {
      flex-direction: column-reverse;
      width: 95%;
      margin-left: 0;
      margin: 0 auto;
      margin-top: 30vh;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.99px) {
  .whatMakesUsDifferent__container {
    min-height: 425vh;
    .section__header {
      p {
        width: 95%;
      }
    }

    .showcase__content {
      flex-direction: column-reverse;
      width: 95%;
    }

    .showcase__content__section2 {
      flex-direction: column;
      width: 95%;
      margin: 50vh auto 20vh;

      .section2__textContent__col {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15vh;
      }
    }

    .showcase__content__section3 {
      width: 95%;
      margin: 0 auto;
      flex-direction: column-reverse;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whatMakesUsDifferent__container {
    min-height: 380vh;
    .about__wrapper {
      flex-direction: column;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .whatMakesUsDifferent__container {
    min-height: 330vh;
    box-sizing: border-box;
    padding-top: 5vh;

    .section__header {
      h3 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.75rem;
      }
    }

    .showcase__content {
      .textContent__col {
        .companiesOfferings {
          font-size: 1.15rem;
        }

        h4 {
          font-size: 3.25rem;
        }

        p {
          font-size: 1.65rem;
        }
      }
    }

    .showcase__content__section2 {
      .section2__textContent__col {
        .companiesOfferings {
          font-size: 1.15rem;
        }

        h4 {
          font-size: 3.25rem;
        }

        p {
          font-size: 1.65rem;
        }
      }
    }

    .showcase__content__section3 {
      .section3__textContent__col {
        .companiesOfferings {
          font-size: 1.15rem;
        }

        h4 {
          font-size: 3.25rem;
        }

        p {
          font-size: 1.65rem;
        }
      }
    }
  }
}
