@import "./variables";

.status__container {
  position: relative;
  width: 100%;
  min-height: 290vh;
  background-color: #121212;
  box-sizing: border-box;
  padding-top: 15vh;

  .status__header {
    margin: 0 auto;
    margin-bottom: 20vh;
    width: fit-content;
    text-align: center;
    font-family: $Montserrat;

    h3 {
      font-size: 3.5rem;
      font-weight: 700;
      width: fit-content;
      color: #f8f8f8;
      margin: 0;
    }

    span {
      font-weight: 500;
      font-size: 1.35rem;
      color: #c8c8c8;
    }
  }

  .cards__wrapper {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .statusCard__wrapper {
      box-sizing: border-box;
      padding: 1.5rem 3.5rem;
      font-family: $Montserrat;
      background-color: #232323;
      width: 42.5%;
      margin-bottom: 1rem;
      border-radius: 24px;

      box-shadow: 2px 2px #bcfefe, 4px 4px #fa5876;

      &:nth-of-type(2n) {
        align-self: flex-end;
        box-shadow: -2px 2px #bcfefe, -4px 4px #fa5876;
      }

      &:hover {
        transform: scale(1.15);
        transition: 0.4s 0.05s ease-in;

        .statusCard__content .application__wrapper .applyNowButton {
          font-weight: 700;
          transition: 0.1s 0.15s ease-in-out;
        }
      }

      .statusCard__content {
        h4,
        p {
          margin: 0;
        }

        h4 {
          margin-bottom: 1rem;
          font-size: 1.65rem;
          color: #c8c8c8;
        }

        .fillerSpaceRow {
          display: flex;
          flex-direction: row;
          width: 60%;
          height: fit-content;

          .fillerSpace {
            flex: 3;
            height: 1.3rem;
            border-radius: 4px;
            background-color: #b6b6b6;
            margin-bottom: 0.75rem;

            &:first-of-type {
              flex: 5;
              margin-right: 0.75rem;
            }
          }
        }

        .description__wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: 0.75rem;

          .descriptionFillerSpace {
            height: 1.3rem;
            width: 30%;
            background-color: #343434;
            border-radius: 4px;
            margin-right: 0.75rem;
          }

          p {
            color: #c2c2c2;
            font-weight: 600;
            font-size: 1.1rem;
          }
        }

        .application__wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .applyNowButton {
            font-family: $Montserrat;
            font-weight: 800;
            font-size: 1.1rem;
            padding: 0.65rem 1.25rem;
            border: none;
            border-radius: 8px;
            background-color: #fff;
            color: #222;

            &:hover {
              background-color: #fa5876;
              color: #fff;
              transition: 0.25s 0.05s ease-out;
              cursor: pointer;
            }
          }

          .position__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            .numPositionsAvailable {
              font-size: 2.8rem;
              color: #fa5876;
              font-weight: 700;
              margin-right: 0.35rem;
            }

            .application__availablePositions {
              display: flex;
              flex-direction: column;
            }
          }
        }

        span {
          color: #c2c2c2;
          font-weight: 600;
          font-size: 1.05rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .status__container {
    min-height: 385vh;
    padding: 0;

    .status__header {
      width: 95%;
      text-align: center;
      h3 {
        margin: auto;
        font-size: 1.9rem;
        margin-bottom: 1.25rem;
      }
    }

    .cards__wrapper {
      width: 95%;

      .statusCard__wrapper {
        width: 100%;
        padding: 1rem;
        box-shadow: none;

        &:nth-of-type(2n) {
          box-shadow: none;
        }
      }
    }
  }
}
